<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<array>
			<string>鞍山</string>
			<string>11</string>
		</array>
		<array>
			<string>安庆</string>
			<string>10</string>
		</array>
	</array>
	<key>B</key>
	<array>
		<string>2860</string>
		<string>保山</string>
	</array>
	<key>C</key>
	<array>
		<string>74</string>
		<string>绍兴</string>
	</array>
	<key>F</key>
	<array>
		<string>1933</string>
		<string>阜新</string>
	</array>
	<key>G</key>
	<array>
		<string>2865</string>
		<string>红河</string>
	</array>
	<key>H</key>
	<array>
		<string>73</string>
		<string>湖州</string>
	</array>
	<key>L</key>
	<array>
		<string>79</string>
		<string>丽水</string>
	</array>
	<key>M</key>
	<array>
		<string>2666</string>
		<string>绵阳</string>
	</array>
	<key>Q</key>
	<array>
		<string>76</string>
		<string>衢州</string>
	</array>
	<key>T</key>
	<array>
		<string>1588</string>
		<string>吐鲁番</string>
	</array>
	<key>W</key>
	<array>
		<string>71</string>
		<string>温州</string>
	</array>
	<key>X</key>
	<array>
		<string>2873</string>
		<string>西双版纳</string>
	</array>
	<key>J</key>
	<array>
		<string>75</string>
		<string>金华</string>
	</array>
	<key>S</key>
	<array>
		<string>78</string>
		<string>台州</string>
	</array>
	<key>Y</key>
	<array>
		<string>2874</string>
		<string>玉溪</string>
	</array>
	<key>Z</key>
	<array>
		<string>77</string>
		<string>舟山</string>
	</array>
	<key>N</key>
	<array>
		<string>70</string>
		<string>宁波</string>
	</array>
	<key>D</key>
	<array>
		<string>2864</string>
		<string>迪庆</string>
	</array>
	<key>R</key>
	<array>
		<string>3015</string>
		<string>日喀则</string>
	</array>
	<key>K</key>
	<array>
		<string>1586</string>
		<string>克孜勒苏柯尔克孜</string>
	</array>
	<key>P</key>
	<array>
		<string>2870</string>
		<string>普洱</string>
	</array>
	<key>E</key>
	<array>
		<string>1819</string>
		<string>鄂尔多斯</string>
	</array>
</dict>
</plist>
